{% extends 'base.html.twig' %}

{% block title %}PAGE Register{% endblock %}

{% block body %}

    PAGE register

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
