{% extends 'base.html.twig' %}

{% block title %} Home Page {% endblock %}

{% block body %}

<div class="example-wrapper">

        Liste des Conferences
    {% for conference in conferences %}
        <li> {{ conference.name }}
            {% for i in 1 .. NbEtoile %}

                <a href="{{ path("oneVote",{'id':conference.id,'nbre':i }) }}"> <i class="material-icons">star_border</i> </a>
            {% endfor %}
        </li>
    {% endfor %}

        <div class="navigation">
                {{ knp_pagination_render(conferences) }}
        </div>
</div>
{% endblock %}
