{% extends 'base.html.twig' %}

{% block title %} Page Admin {% endblock %}

{% block body %}
    <div class="example-wrapper">

        <a href="{{ path("adminConference")}}"><button>   Gestion des conférences  </button></a>
        <a href="{{ path("adminUser")}}"><button>  Gestion des utilisateurs  </button></a>
    </div>
{% endblock %}
