{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        {% for conference in conferences %} 
            <li> {{ conference.name }}  
            {% for i in 1 .. NbEtoile %}
            
                <a href="{{ path("oneVote",{'id':conference.id,'nbre':i }) }}"> <i class="material-icons">star_border</i> </a> 
            {% endfor %}
            </li>
        {% endfor %}
    </div>
{% endblock %}
