{% extends 'base.html.twig' %}

{% block title %}PAGE Add User  {% endblock %}

{% block body %}

    PAGE ADD USER
    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
