{% extends 'base.html.twig' %}

{% block title %}Page Add User  {% endblock %}

{% block body %}

    <div class="example-wrapper">

        <h3> PAGE edit User </h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
