{% extends 'base.html.twig' %}

{% block title %}PAGE Edit User  {% endblock %}

{% block body %}

    PAGE EDIT USER

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
