{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        {% for user in users %}
            <li> {{ user.name|e }} </li>
            <li> {{ user.firstName|e }} </li>
            <li> {{ user.email|e }} </li>
        {% endfor %}
    </div>
{% endblock %}
